<div class="event">
   <h2><%= event.title %></h2>
   <p><%= event.date %></p>
   <p><%= event.desc %></p>
   <% event.tracks.forEach(track => { %>
      <%- include("track", { track }) %>
   <% }) %>
</div>
