<div class="track" onclick="playtrack('<%- track.url %>')">
   <img class="track-album" src="<%= track.album %>" />
   <div class="track-body">
      <p><%= track.artist %> - <%= track.title %></p>
   </div>
</div>
