<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Jukebox</title>
   <link href="/css/track.css" rel="stylesheet" type="text/css">
</head>
   <body>
      <%- include("components/header") %>
      <% events.forEach(event => { %>
         <%- include("components/event", { event }) %>
      <% }) %>
   </body>
</html>

