<form>
   <label for="username">Username</label>
   <input id="login-username" type="text" placeholder="capybara" name="username" required>

   <label for="password">Password</label>
   <input id="login-password" type="password" placeholder="passw0rd" name="password" required>

   <button id="login-button" type="submit" onclick="login(event)">Login</button>
   <button id="login-button" type="submit" onclick="register(event)">Register</button>
</form>