:root {
   --mobile-page-width: 600px;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Regular.ttf') format('truetype');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Bold.ttf') format('truetype');
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Black.ttf') format('truetype');
   font-weight: 900;
   font-display: swap;
   font-style: normal;
}

body {
   margin: auto;
   padding: 0 30px;
   padding-bottom: 300px; /* for the mini player */
}

h1 {
   font-weight: 900;
}

h1, h2, h3, p, a, li, button, input, label, textarea, div, select, option {
   font-family: "Satoshi";
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

hr {
   border: none;
   border-bottom: 1px solid black;
   background: black;
   width: 100%;
   box-sizing: border-box;
}

select {
   background-color: #e7e7e7;
   border: none;
   padding: 6px 12px;
   font-size: 14px;
}

button {
   color: black;
}

@media (max-width: 600px) {
   html body {
      padding: 0 10px;
   }
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
