:root {
   --mobile-page-width: 600px;

   --background-1: #242424;
   --background-2: #404040;
   --background-3: #606060;
   --foreground-1: #f0f0f0;
   --foreground-2: #c8c8c8;
   --foreground-3: #bdbdbd;
   --background-transparent: #242424bb;

   --accent-background: #847742;
   --accent-confirm: #3f6b48;
   --accent-cancel: #5e1d1d;

   --accent-1: #cf6db6;
   --accent-2: #c9a83a;
   --accent-3: #61b88b;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Regular.ttf') format('truetype');
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Bold.ttf') format('truetype');
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Black.ttf') format('truetype');
   font-weight: 900;
   font-display: swap;
   font-style: normal;
}

body {
   margin: auto;
   padding: 0 30px;
   padding-bottom: 300px; /* for the mini player */
   background-color: var(--background-1);
}

h1 {
   font-weight: 900;
}

h1, h2, h3, p, a, li, button, input, label, textarea, div, select, option {
   font-family: "Satoshi";
   color: var(--foreground-1);
}

a {
   text-decoration: none;
   color: var(--foreground-2);
}

a:hover {
   text-decoration: underline;
}

hr {
   border: none;
   border-bottom: 1px solid var(--foreground-2);
   background: var(--foreground-2);
   width: 100%;
   box-sizing: border-box;
}

select {
   padding: 6px 12px;
}

button, select, textarea, input {
   padding: 10px;
   border-radius: 4px;
   border: none;
   font-size: 12px;
}

select, button, input, textarea {
   background-color: var(--background-3);
   color: var(--foreground-3);
}

button:hover {
   opacity: 0.75;
}

@media (max-width: 600px) {
   html body {
      padding: 0 10px;
   }
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
