#app {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
}

html, body, #app {
   overflow-y: hidden;
}

@media (max-width: 600px) {
   #app .queue-box {
      position: fixed;
      right: 0;
      width: 100vw;
      box-sizing: border-box;
   }
   #app .queue-box .up-next {
      padding-bottom: 300px;
   }

   #app .page-contents {
      padding-bottom: 400px;
   }
}
